@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

ul {
  color: white;
  background-color: #add8e6;
}
/* adding more css in few time */
